@use 'helpers' as *;

* {
  &::-webkit-scrollbar {
    width: rem(4);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: rem(4);
  }
}

body {
  @include fluid-text(16, 14);

  color: #fff;
  font-family: var(--font-family-base);
  transition: all 0.2s;
  min-width: rem(316);

  &::selection {
    background-color: rgb(197, 197, 197);
  }
}

h1 {
  font-size: rem(46);
  font-weight: 600;
}

h2 {
  font-size: rem(42);
  font-weight: 700;
}

[data-container='todo'] {
  width: clamp(300px, 40vw, 400px);
}
